@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
<<<<<<< Updated upstream
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;
    
    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --titles-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
=======
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --botton-primary-color: #8F0101;
    --botton-secondary-color: #B81515;
    
    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
>>>>>>> Stashed changes
}

/* CSS RESET */

body, img, h1, fieldset, legend, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}